<div class="message">
  
  <% chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;">
        <%= chat.message %>
        <%= link_to 'Destroy', chat_path(chat), remote: true, method: :delete, class: "destroy_chat_button" %>
      </p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>