// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ChatRoomBox {
  margin: 0 auto;
  width: 80%;
}

.destroy_chat_button{
    display: none;
}