.Menu{
  position: fixed;
  top: 0;
  background-color: grey;
  height: 60px;
  width: 100%;
}

.Logo{
  color: black;
  font-size: 30px;
  margin: 10px;
  
  &:hover{
    @extend .Logo;
    text-decoration: none;
  }
}

.Navbar{
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  display: flex;
  
  &__item{
    margin: 15px 20px;
    font-size: 20px;
      
    &--col{
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    &--col:hover{
      @extend .Navbar__item--col;
    }
  }  
}

@media screen and (max-width:1024px) {
  .HamburgerIconTrigger{
    position: fixed;
    top: 5px;
    right: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: black;
    
    &__line{
      display: block;
      height: 2px;
      width: 25px;
      border-radius: 3px;
      background-color: white;
      position: absolute;
      transition: 0.7s;
      
      &--top{
        @extend .HamburgerIconTrigger__line;
        top: 15px;
      }
      &--middle{
        @extend .HamburgerIconTrigger__line;
      }
      &--bottom{
        @extend .HamburgerIconTrigger__line;
        bottom: 15px;
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .HamburgerIconTrigger__line{
    &--top.active{
      -webkit-transform: translateY(9px) rotate(-45deg);
      background-color: white;
    }
    &--middle.active{
      opacity: 0;
    }
    &--bottom.active{
      -webkit-transform: translateY(-9px) rotate(45deg);
      background-color: white;
    }
  }
}

@media screen and (max-width:1024px) {
  .Navbar{
    position: absolute;
    top: 60px;
    right: 0;
    padding: 0;
    background-color: gray;
    list-style: none;
    display: none;
    z-index: 100;
  
    &__item{
      margin: 20px;
      font-size: 20px;
      
      &--col{
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
      &--col:hover{
        @extend .Navbar__item--col;
      }
    }
  }
}