<% if @model == "user"%>
  <h1>User search for "<%= @content %>"</h1>
  <%= render 'users/index', users: @records %>
<% elsif @model == "book" %>
  <h1>Book search for "<%= @content %>"</h1>
  <%= render 'books/index', books: @records %>
<% else %>
<% end %>